$background-color: #e9e5e5;
$text-color: #141414;
$white: #F1F1F1;
$lightpink: #fee6e3;
$pink: #ffdeda;
$hotpink: #f582ae;
$yellow: #FBA92C;
$lightgrey: #c6c3c3;
$darkgrey: #565656;

$box-shadow: 12px 12px 24px $lightgrey, -12px -12px 24px $white;
$box-shadow-reverse: 12px 12px 24px $white, -12px -12px 24px $lightgrey;